.DS_Store
.vscode
build/**
**.cmake
**.marks
**.make
**.ts
pico-sdk/**
generated/**
**/link.txt
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeError.log
CMakeFiles/CMakeOutput.log
CMakeFiles/CMakeRuleHashes.txt
CMakeFiles/Makefile2
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.21.4/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.21.4/CompilerIdC/CMakeCCompilerId.o
CMakeFiles/3.21.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.21.4/CompilerIdCXX/CMakeCXXCompilerId.o
**Makefile
CMakeCache.txt
**/.ipynb_checkpoints/**